/* Imports always at the top */
<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
</style>

/* The * marks styling to the entire document */
* {
  /* border: 1px, solid red */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* THis is the main section of the HTLM. THis will be the esection to determine behaviors of anchors and the HTLM tag */

html {
  /* Can use google fonts to import and set a tiered system of fonts */
  font: 20px/1 "Montserrat", sans-serif;
  background-color: #f5f5dc;
}

a {
  text-decoration: none;
  color: violet;
}

a:hover {
  color: brown;
}

/* THis section contains the CSS for the main header */

.main-header {
  align-content: center;
   /* To enable flexbox on a certain class, it needs to be enabled as below */
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  /* a rem is a measurement of one instance of the root font size
  an em is a measurement of one instance of a containing element, instead of the root */
  padding: 1rem 2rem;
  position: fixed;
  width: 95vw;
  
  
  /* padding-bottom: 20rem; */
}

.nav__list {
display: flex;
list-style-type: none;
font-style: bold;
text-shadow: 0.05rem 0.05rem black;
}


.nav__list-item {
  /* color: white; */
  margin-right: 0.5rem;
  
  
}

.nav__list-item:last-child {
  margin-right: 0rem
}

h1 {
  color: white;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
  font-size: 2.5rem;
  text-shadow: 0.2rem 0.2rem purple
  
  
}

/* .header-flex {
  display: grid;
  
  
} */

.hero-image {
  align-items: center;
  background-image: url("/Images/code-background.jpg");
  background-size: 100vw;
    /* position: fixed; */
  display: flex;
  justify-content: center;
  height: 50vh;
  /* width: vw; */
}

.hero-image__github {
  height: 7rem;
}

.hero-image__linkedin {
  height: 8rem;
}

.hero-image__text {
  color: white;
  /* display: flex; */
  
}


/* This is the CSS for the articled sections */

/* .about-me__header {
  align-content: center;
  display: flex;
  font-size: 2rem;
  font-style: oblique;
  justify-content: space-around;
} */

.about-me__article {
  align-content: center;
  text-align: center;
  margin-bottom: 4rem;
  padding-left: 30rem;
  padding-right: 30rem;
}

.profile-image {
  height: 20%;
  width: 20%;
}

.GitHub {
  align-content: center;
  /* display: flex; */
  justify-content: space-around;
  text-align: center;  
  margin-bottom: 4rem;
  padding-left: 30rem;
  padding-right: 30rem;
}

.github__header {
  align-content: center;
  display: flex;
  font-size: 2rem;
  font-style: oblique;
  justify-content: space-around;
}

/* .vp-image {

} */

/* .hsh-linkImage {
  
} */

.contact {
  align-content: center;
  /* display: flex; */
  justify-content: space-around;
  text-align: center;  
  margin-bottom: 4rem;
  padding-left: 30rem;
  padding-right: 30rem;
}

.contact__header {
  align-content: center;
  display: flex;
  font-size: 2rem;
  font-style: oblique;
  justify-content: space-around;
}

/* .about-me__header {
  font-size: 2rem;
} */


